FROM alpine:3.18 as base

# download zip first to allow for Docker caching

{%- set filename = file.split("/")[-1].split("?")[0] %}

RUN wget -O {{ filename }} "{{ file }}"
RUN unzip {{ filename }}

RUN mkdir -p /compilers/{{ platform }}/{{ id }}

RUN cp -r {{ package_dir }}/* /compilers/{{ platform }}/{{ id }}

RUN cp */license.dat /compilers/{{ platform }}/{{ id }}/license.dat
RUN mv /compilers/{{ platform }}/{{ id }}/lmgr8c.dll /compilers/{{ platform }}/{{ id }}/LMGR8C.dll

RUN chown -R root:root /compilers/{{ platform }}/{{ id }}/
RUN chmod +x /compilers/{{ platform }}/{{ id }}/mwccarm.exe


FROM scratch as release

COPY --from=base /compilers /compilers
