FROM alpine:3.18 as base

RUN mkdir -p /compilers/{{ platform }}/{{ id }}

{%- set filename = file.split("/")[-1].split("?")[0] %}

RUN wget -O {{ filename }} "{{ file }}"
RUN tar xvzf {{ filename }} --strip-components=1 -C /compilers/{{ platform }}/{{ id }}

RUN chown -R root:root /compilers/{{ platform }}/{{ id }}/
RUN chmod +x /compilers/{{ platform }}/{{ id }}/*


FROM scratch as release

COPY --from=base /compilers /compilers
